[submodule "openasip"]
	path = openasip
	url = https://github.com/cpc/openasip
[submodule "mlonmcu"]
	path = mlonmcu
	url = https://github.com/tum-ei-eda/mlonmcu
[submodule "thesis"]
	path = thesis
	url = https://git@sharelatex.tum.de/git/670804292a2b1a7579a64d94
